{% extends 'templates.landing' %}

{% block css %}
<style media="screen">
	#register{
		display: none;
	}
	#btn-save{
		background: #dfb636;
		color: #fff;
		outline: none;
		padding-left: 3rem;
		padding-right: 3rem;
		border: solid 2px #dfb636;
	}
	label{
		font-weight: lighter;
		margin-bottom: .5rem;
	}
	.prev-assigments{
		border: solid 1px #dfb636;
		padding: 2rem;
		border-radius: 1rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.assigment-card{
		padding: 1rem;
		background: #dfb636;
		color: #fff;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
		border-radius: .5rem;
	}
	.assigment-delete{
		float: right;
		background: #fff;
		width: 2.5rem;
		height: 2.5rem;
		color: #dfb636;
		text-align: center;
		box-sizing: border-box;
		padding-top: .3rem;
		border-radius: 50%;
		cursor: pointer;
	}
</style>
{% endblock %}

{% block htmlconf %}
<div class="single-content">
	<div class="top-header span_top navbar-fixed-top">
{% endblock %}

{% block headerinfo %}
  <div class="container"><br><br>
    <div class="row">
      <div class="col-md-12">
        <h3><b>Asigna las funciones</b></h3><br><br>
				<div class="row">
				  <div class="col-md-2">
				  	<div class="">
				  		<img src="" class="img-responsive img-thumbnail img-movie-show">
				  	</div>
				  </div>
					<div class="col-md-3">
						<div class="">
							<h4><b id="name">Transcendence</b></h4>
							<hr>
							<label><b>Tipo:</b> <span id="type"></span></label>
							<br><label><b>Idioma:</b> <span id="language"></span></label>
							<br><label><b>Duración:</b> <span id="duration"></span></label>
						</div>
					</div>
					<div class="col-md-7">
						<div class="">
							<form>
								<fieldset class="form-group">
							    <label for="">Selecciona la sala</label>
							    <select class="form-control" name="rooms" id="rooms">
							    	<option disabled selected></option>
							    </select>
							  </fieldset>
								<fieldset class="form-group">
							    <label for="">Selecciona el día</label>
							    <input type="date" class="form-control" id="date">
							  </fieldset>
								<fieldset class="form-group">
							    <label for="">Selecciona la hora</label>
							    <input type="time" class="form-control" id="hour">
							  </fieldset>
								<div class="text-right">
									<button type="button" class="btn" id="save-show">
										Guardar
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
					  <div class="col-md-12">
					  	<div class="prev-assigments">
								<h5><b>Asignación de la película</b></h5>
								<div class="info-assigment"></div>
					  	</div>
					  </div>
					</div>
				</div>
      </div>
    </div><br><br>
  </div>
{% endblock %}

{% block js %}
<script src="/scripts/js/assign_shows/assign_showsCtrl.js" charset="utf-8"></script>
<script src="/scripts/js/assign_shows/assign_showsDispatcher.js" charset="utf-8"></script>
{% endblock %}
