{% extends 'master' %}

{% block content %}
    <link rel="stylesheet" href="/assets/css/app.css">
    <style media="screen">
        #reservar{
            padding: 5px;
        }
    </style>
    {# Modificar para poder guardar un arreglo de asientos por cliente #}

    <h2>Solo se puede reservar un lugar por persona.</h2>
    <hr>
    <br>
    <section class="bus">
        <div class="site" id="1" data-numsite="1">No. 1</div>
        <div class="site" id="2" data-numsite="2">No. 2</div>
        <div class="site" id="3" data-numsite="3">No. 3</div>
        <div class="site" id="4" data-numsite="4">No. 4</div>
        <div class="site" id="5" data-numsite="5">No. 5</div>
        <div class="site" id="6" data-numsite="6">No. 6</div>
        <div class="site" id="7" data-numsite="7">No. 7</div>
        <div class="site" id="8" data-numsite="8">No. 8</div>
        <div class="site" id="9" data-numsite="9">No. 9</div>
        <div class="site" id="10" data-numsite="10">No. 10</div>
        <div class="site" id="11" data-numsite="11">No. 11</div>
        <div class="site" id="12" data-numsite="12">No. 12</div>
        <div class="site" id="13" data-numsite="13">No. 13</div>
        <div class="site" id="14" data-numsite="14">No. 14</div>
        <div class="site" id="15" data-numsite="15">No. 15</div>
        <div class="site" id="16" data-numsite="16">No. 16</div>
        <div class="site" id="17" data-numsite="17">No. 17</div>
        <div class="site" id="18" data-numsite="18">No. 18</div>
    </section>

    <section>
        <form action="/guardar" method="post" id="form">
            {{ csrfField }}
            <label>Fecha de reservación</label><br>
            <input readonly type="text" name="fecha" value="{{ fecha() }}" id="fecha" placeholder="{{ fecha() }}">
            <label>Nombre completo</label><br>
            <input type="text" name="nombre" value="" id="nombre" placeholder="Nombre y apellidos"><br>

            <label>Asiento</label><br>
            <input readonly type="number" name="asiento" value="" id="asiento" placeholder="No asignado"><br>

            <label>Destino</label><br>
            <input type="text" name="destino" value="" id="destino" placeholder="Eje: Guadalajara"><br>

            <button type="submit" name="button" id="reservar">Reservar</button>
        </form><br><br>
    </section>

    <script src="websocket-client.js" charset="utf-8"></script>
    <script src="/assets/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="/assets/js/app.js" charset="utf-8"></script>

{% endblock %}
