{% extends 'templates.chatRooms-master' %}

{% block css %}
    <link rel="stylesheet" href="/libs/selectize.js/dist/css/selectize.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary direct-chat direct-chat-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Grupo General</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Miembros" data-widget="chat-pane-toggle">
                      <i class="fa fa-group"></i>
                  </button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="direct-chat-messages" style="height:40rem;">

                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-xs-12" id="bodyMessage">
                              <div class="" style=" background: #dedede;padding: 2rem;text-align: center;padding-top: 3rem;margin-top: 3rem;color: #888888;border-radius: .5rem;">
                                  <p>
                                      Sin mensages
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>

                </div>
                <!--/.chat-messages-->

                <!-- Contacts are loaded here -->
                <div class="direct-chat-contacts" style="height:40rem;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <h6>Agregar Integrantes al grupo</h6>
                                <div id="searchuser"></div>
                            </div>
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary btn-block" style="margin-top:-2rem;">Agregar</button>
                            </div>
                        </div>
                    </div>
                  <ul class="contacts-list">
                    <li>
                      <a href="javascript:void(0)">
                          <img class="contacts-list-img" src="dist/img/user1-128x128.jpg" alt="User Image">
                          <div class="contacts-list-info">
                                <span class="contacts-list-name" style="margin-top: 1rem;margin-left: 1rem;">
                                  Nombre de usuario
                                </span>
                          </div>
                          <!-- /.contacts-list-info -->
                      </a>
                    </li>
                    <!-- End Contact Item -->

                  </ul>
                  <!-- /.contatcts-list -->
                </div>
                <!-- /.direct-chat-pane -->
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <form id="formMessage">
                  <div class="input-group">
                    <input type="text" name="message" placeholder="Escribir mensaje ..." class="form-control" id="message">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-flat" id="sendMsg">
                            <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </span>
                  </div>
                </form>
              </div>
              <!-- /.box-footer-->
            </div>
        </div>

        <!-- Modal para agregar al grupo -->
        <div class="modal fade" tabindex="-1" role="dialog" id="addRoom">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-plus"></i>&nbsp Agregar un nuevo Room</h4>
              </div>
              <div class="modal-body">
                <p>Registra un nuevo grupo de chat en cual tú eres el administrador.</p>
                <hr>
                <form class="" action="/createRoom" method="post" id="addRoomForm">
                    {{csrfField}}
                    <div class="form-group has-feedback">
                      <input readonly type="text" class="form-control" name="admin" id="admin" data-idadmin="{{currentUser.id}}" value="" placeholder="Administrador: {{currentUser.nickname}}">
                      <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <input type="text" class="form-control" name="nameRoom" id="nameRoom" value="" placeholder="Nombre del room">
                      <span class="fa fa-comments-o form-control-feedback"></span>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="addRoombtn">Crear room</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- /. Modal para agregar al grupo -->

        <div class="col-md-4">
            <div class="box box-success" >
                <div class="box-header with-border">
                  <h3 class="box-title">Grupos</h3>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#addRoom" id="showModalBtn">
                        <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding" style="height: 45.35rem;">
                  <ul class="users-list clearfix">
                      {% for room in roomers%}
                          {% if (room.room_name == 'general')%}
                              <li style="cursor:pointer;" class="room" data-rm="{{room.code_access}}">
                                <img src="/dist/img/boxed-bg.jpg" alt="User Image">
                                <a class="users-list-name" href="#">{{room.room_name}}</a>
                                <!-- <span class="users-list-date">Username</span> -->
                              </li>
                          {% else %}
                              <li style="cursor:pointer;" class="room" data-rm="{{room.code_access}}">
                                <img src="/dist/img/boxed-bg.jpg" alt="User Image">
                                <a class="users-list-name" href="#">{{room.room_name}}</a>
                                {% if (room.user_id == currentUser.id) %}
                                    <span class="users-list-date">Admin</span>
                                {% else %}
                                    <span class="users-list-date">Username</span>
                                {% endif %}
                              </li>
                          {% endif %}
                      {% endfor %}
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <!-- <div class="box-footer text-center">
                  <a href="javascript:void(0)" class="uppercase">View All Users</a>
                </div> -->
                <!-- /.box-footer -->
              </div>
        </div>
    </div>
{% endblock %}

{% block js%}
    <script src="/libs/selectize.js/dist/js/standalone/selectize.min.js" charset="utf-8"></script>
    <script src="/assets/js/chat.js" charset="utf-8"></script>
{% endblock %}
