<!DOCTYPE html>
<html>

<head>
	<link href="/dist/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/dist/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="/libs/toastr/toastr.min.css">
	<link rel="stylesheet" href="/scripts/css/landing.css">
	<link rel="stylesheet" href="/libs/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="/dist/js/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Cinema XXII</title>
</head>

<style media="screen">
  #map{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 68vh;
    background-color: rgb(201, 201, 201);
    border: solid 5px #fff;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
  }
</style>

<body>
	<div class="full">
		<div class="menu"></div>
		<div class="main">
      <div class="single-content">
      	<div class="top-header span_top navbar-fixed-top">
					<div class="logo">
						<a href="javascript:void(0)"><img src="/dist/images/logo.png" alt="" /></a>
						<p></p>
					</div>
					<div class="buttons">
						{% if currentUser %}
						<a href="/logout" id="logout">Salir</a>
						{% else %}
						<a href="/iniciar-sesion" id="login">Entrar</a>
						<a href="/customer-register" id="register">Registrarme</a>
						{% endif %}
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="container">
          <div class="row">
  				  <div class="col-md-12">
  				    <div class="">
                <br><br>
                <h3><b>Selecciona tu cine favorito y más cerca de tí</b></h3>
                <small><i><b>Nota:</b> Para una mejor experiencia, habilita tu ubicación. <br>Doble click para acceder</i></small>
  				      <div id="map"></div>
  				    </div>
  				  </div>
  				</div>
				</div>
			</div>
			<div class="footer">
				<h6>Disclaimer : </h6>
				<p class="claim">This is a freebies and not an official website, I have no intention of disclose any movie, brand, news.My goal here is to train or excercise my skill and share this freebies.</p>
				<a href="example@mail.com">example@mail.com</a>
				<div class="copyright">
					<p> Template by <a href="http://w3layouts.com">  W3layouts</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<script type="text/javascript" src="/dist/js/jquery.flexisel.js"></script>
	<script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>
	<script src="/libs/toastr/toastr.min.js" charset="utf-8"></script>
	<script src="/scripts/js/landing.js" charset="utf-8"></script>

	<!-- KEY MAPA -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR6mmHY1TBXJgxb_nBXXLnlH2V-THjU0M&callback=initMap"
   async defer></script>
   {# <script src="/scripts/js/cinemas_map/mapCtrl.js" charset="utf-8"></script>
   <script src="/scripts/js/cinemas_map/mapDispatcher.js" charset="utf-8"></script> #}
   <script type="text/javascript">

	  //  var map;
	  //  var windows;
	  //  var marker;
	  //  var icon = 'public/dist/images/iconcinema.png';

		initMap();

	   // INICIAR EL MAPA
	  //  function initMap() {
		//    map = new google.maps.Map(document.getElementById('map'), {
		// 	 center: {lat: 25.5428, lng: -103.4068},
		// 	 zoom: 12,
		// 	 mapTypeControl: false
		//    });
	  //  }

	   // CREAR LAS MARCAS DE LOS CINES
	   function createMarkers(){
		   $.ajax({
			   url: '/getCinemas',
			   type: 'post'
		   }).done(function(r){
				 console.log(r);
				 var map;
			   var windows;
			   var marker;
			   var icon = '/dist/images/iconcinema.png';

				 map = new google.maps.Map(document.getElementById('map'), {
					 center: {lat: 25.5428, lng: -103.4068},
					 zoom: 12,
					 mapTypeControl: false
			   });

			   $.each(r.data, function(i,o){
				   // contenido de la ventana de los marcadores
					var windowContent =	'<div data-id="content">'+
											'<h5>'+ o.nombre +'</h5>'+
											'<p>'+ o.direccion +'</p>'+
										'</div>';

					var myLatLng = {
						lat:parseFloat(o.lat),
						lng:parseFloat(o.long)
					} // objeto de longitude y latitude

					windows = new google.maps.InfoWindow({
						content: windowContent
					});

					marker = new google.maps.Marker({
						position: myLatLng,
						draggable:false,
						animation: google.maps.Animation.DROP,
						map: map,
						icon: icon,
						indice: o._id,
						title:"doble click para info."
					});

					marker.addListener('click', function() {
	          windows.open(map, marker);
	        });

					marker.addListener('dblclick', function() {
						window.location.href = '/asignar-cine/' + this.indice;
	        });

			   })
		   }).fail(function(e){
			   console.log(e);
		   })
	   }createMarkers();
   </script>
	{% block js %}{% endblock %}
</body>
</html>
