{% extends 'templates.landing' %}

{% block css %}
  <style media="screen">
    #register{
      display: none;
    }
    #btn-save{
      background: #dfb636;
      color: #fff;
      outline: none;
      padding-left: 3rem;
      padding-right: 3rem;
      border: solid 2px #dfb636;
    }
    label{
      font-weight: lighter;
      margin-bottom: .5rem;
    }
  </style>
{% endblock %}

{% block htmlconf %}
<div class="single-content">
	<div class="top-header span_top">
{% endblock %}

{% block headerinfo %}
  <div class="container"><br><br>
    <div class="row">
      <div class="col-md-12">
        <h3><b>Registro de clientes</b></h3><br><br>
        <form class="" id="customer-form">
          <div class="form-group">
            <label for="">Nombre Completo</label>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="fa fa-user"></span>
              </span>
              <input type="text" name="name" id="name" class="form-control" placeholder="Nombre y Apellidos">
            </div>
          </div>
          <div class="form-group">
            <label for="">E-Mail</label>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="fa fa-envelope"></span>
              </span>
              <input type="email" name="email" id="email" class="form-control" placeholder="alguien@email.com">
            </div>
          </div>
          <div class="form-group">
            <label for="">No. Tarjeta</label>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="fa fa-envelope"></span>
              </span>
              <input type="number" name="number" id="number" class="form-control" placeholder="55555555">
            </div>
          </div>
          <div class="form-group">
            <label for="">Contraseña</label>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="fa fa-envelope"></span>
              </span>
              <input type="password" name="password" id="password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="">Confirmar Contraseña</label>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="fa fa-envelope"></span>
              </span>
              <input type="password" name="cpassword" id="cpassword" class="form-control">
            </div>
          </div>
          <div class="form-group text-right">
            <button type="button" class="btn btn-primary" id="btn-save">
              Guardar registro
            </button>
          </div>
        </form>
      </div>
    </div><br><br>
  </div>
{% endblock %}

{% block js %}
<script src="/scripts/js/customer-register/src/custregController.js" charset="utf-8"></script>
<script src="/scripts/js/customer-register/src/custregDispatcher.js" charset="utf-8"></script>
{% endblock %}
