{% extends 'templates.landing' %}

{% block htmlconf %}
<div class="header">
	<div class="top-header navbar-fixed-top">
{% endblock %}

{% block headerinfo %}
<div class="header-info">
	<h1>Estrenos</h1>
	<p class="special">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tenetur debitis pariatur, in nisi voluptas facilis excepturi dolore. Officiis id et ab. Ipsum dolorem quos, cum quas vitae temporibus numquam.
	</p>
	<a class="video" href="#"><i class="video1"></i>Cartelera</a>
</div>
{% endblock %}

{% block body %}
<div class="video">
	<iframe src="https://www.youtube.com/embed/2LqzF5WauAw" frameborder="0" allowfullscreen></iframe>
</div>
<div class="news">
	<div class="col-md-6 news-left-grid">
		<h3>Don’t be late,</h3>
		<h2>Book your ticket now!</h2>
		<h4>Easy, simple & fast.</h4>
		<a href="#"><i class="book"></i>BOOK TICKET</a>
		<p>Get Discount up to <strong>10%</strong> if you are a member!</p>
	</div>
	<div class="col-md-6 news-right-grid">
		<h3>News</h3>
		<div class="news-grid">
			<h5>Lorem Ipsum Dolor Sit Amet</h5>
			<label>Nov 11 2014</label>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		</div>
		<div class="news-grid">
			<h5>Lorem Ipsum Dolor Sit Amet</h5>
			<label>Nov 11 2014</label>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
{% endblock %}

{% block js %}{% endblock %}
