<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form class="" action="/auth" method="post" id="loginForm">
        {{csrfField}}
        <input type="text" name="nickname" id="nickname" value="" placeholder="nickname">
        <input type="password" name="password" id="password" value="" placeholder="password">
        <button type="button" name="button" id="logIn">Iniciar Sesión</button>
    </form>

    <script src="/assets/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/register_login.js"></script>
</body>
</html>
