{% extends "template.landing" %}

{% block css %}

{% endblock %}

{% block htmlconf %}
<div class="single-content">
	<div class="top-header span_top navbar-fixed-top">
{% endblock %}

{% block headerinfo %}
    
{% endblock %}

{% block js %}

{% endblock %}
