<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de usuarios</title>
</head>
<body>
    <h1>Registro de usuarios</h1>
    <form class="" action="/register" method="post" id="registerUserForm">
        {{csrfField}}
        <input type="text" name="nicknameReg" id="nicknameReg" value="" placeholder="nickname">
        <input type="password" name="passwordReg" id="passwordReg" value="" placeholder="password">
        <button type="button" name="button" id="save">Registrar usuario</button>
    </form>

    <script src="/assets/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/register_login.js"></script>
</body>
</html>
