{% extends 'templates.landing' %}

{% block css %}
	<style media="screen">
		.btn-buy, .btn-standby{
			background: #dfb636;
			margin-top: 3rem;
			padding-left: 3rem;
			padding-right: 3rem;
			color: #fff !important;
			text-decoration: none !important;
			outline: none !important;
		}
		.reviews-section{
	    border-top: none !important;
		}
		#horarios-list > li{
			list-style: none;
			background: #d2d2d2;
			padding: 1.3rem;
			width: 20rem;
			text-align: center;
			box-sizing: border-box;
			float: left;
	    margin: 1rem;
		}
		.horarios-box{
			float: left;
			border: solid 1px #dfb636;
			padding: 2rem;
			border-radius: 1rem;
			margin-top: 3rem;
		}
		hr{
	    border: solid 1px #dfb636;
		}
		label > span{
			font-weight: lighter;
		}
		#category{
			font-size: 2.5rem;
			font-weight: lighter;
		}
		.horarios-box{
			width: 100%;
		}
	</style>
{% endblock %}

{% block htmlconf %}
<div class="single-content">
	<div class="top-header span_top navbar-fixed-top">
{% endblock %}

{% block headerinfo %}
<div class="reviews-section">
	<div class="col-md-12 reviews-grids">
		<div class="review">
			<div class="movie-pic">
				<a href="javascript:void(0)"><img src="" /></a>
			</div>
			<div class="review-info">
				<a class="span" href="javascript:void(0)" id="name"></a>
				<div class="clearfix"></div>
				<label class="info" id="cast">Actores: <span></span></label><br>
				<label class="info" id="direction">Director: <span></span></label><br>
				<label class="info" id="duration">Duración: <span></span></label><br>
				<label class="info" id="language">Idioma: <span></span></label><br>
				<label class="info" id="category"></label><br><br>
				<h3>Sinopsis</h3>
				<p id="sinopsis"><br></p>
			</div>
			<div class="clearfix"></div>
			<div class="horarios-box">
				<h4>Horarios</h4>
				<hr>
				<ul id="horarios-list"></ul>
			</div>
			<div class="row">
			  <div class="col-md-12">
			  	<div class="">
						<p class="text-right">
							{% if currentUser.role_name == 'customer' %}
							<a href="/comprar-boletos" class="btn btn-buy">
								Comprar Boletos
							</a>
							{% else %}
							<a href="javascript:void(0)" class="btn btn-standby" disabled>
								Inicia sesión para comprar boletos
							</a>
							{% endif %}
						</p>
			  	</div>
			  </div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$.ajax({
		url: '/pelicula-info',
		type: 'POST'
	})
	.done(function(res) {
		if (res.data.movie == null || res.data.shows == null){
			alert('Una disculpa, no hay información válida por el momento. Estamos trabajando en eso');
			window.location.href = '/';
		}
		else {
			$("#name").text(res.data.movie.nombre);
			$("#cast span").text(res.data.movie.actores);
			$("#direction span").text(res.data.movie.director);
			$("#duration span").text(res.data.movie.duracion);
			$("#sinopsis").text(res.data.movie.sinopsis);
			$("#language span").text(res.data.movie.idioma);
			$("#category").text(res.data.movie.tipo);
			$(".movie-pic a img").attr('src', `/dist/images/${res.data.movie.poster}`);
			$.each(res.data.shows, function(index, el) {
				$("#horarios-list").append(`<li>${el.day + " | " + el.hour + " Hrs"}</li>`);
			});
		}
	})
	.fail(function(res) {
		console.log(res);
	});
</script>
{% endblock %}
