{% extends 'templates.landing' %}

{% block css %}
	<style media="screen">
		.btn-buy{
			background: #dfb636;
			margin-top: 3rem;
			padding-left: 3rem;
			padding-right: 3rem;
			color: #fff !important;
			text-decoration: none !important;
			outline: none !important;
		}
		.reviews-section{
	    border-top: none !important;
		}
		#horarios-list > li{
			list-style: none;
			background: #d2d2d2;
			padding: 1.3rem;
			width: 20rem;
			text-align: center;
			box-sizing: border-box;
			float: left;
	    margin: 1rem;
		}
		.horarios-box{
			float: left;
			border: solid 1px #dfb636;
			padding: 2rem;
			border-radius: 1rem;
			margin-top: 3rem;
		}
		hr{
	    border: solid 1px #dfb636;
		}
	</style>
{% endblock %}

{% block htmlconf %}
<div class="single-content">
	<div class="top-header span_top">
{% endblock %}

{% block headerinfo %}
<div class="reviews-section">
	<div class="col-md-12 reviews-grids">
		<div class="review">
			<div class="movie-pic">
				<a href="javascript:void(0)"><img src="/dist/images/r4.jpg" alt="" /></a>
			</div>
			<div class="review-info">
				<a class="span" href="javascript:void(0)">Interestelar</a>
				<p class="dirctr"><a href="javascript:void(0)">Reagan Gavin Rasquinha, </a>TNN, Mar 12, 2015, 12.47PM IST</p>
				<div class="clearfix"></div>
				<label class="info" id="cast">
					Actores: Will Smith, Margot Robbie, Adrian Martinez, Rodrigo Santoro, BD Wong, Robert Taylor
				</label><br>
				<label class="info" id="direction">
					Director: Glenn Ficarra, John Requa
				</label><br>
				<label class="info" id="genre">
					Género: Crime
				</label><br>
				<label class="info" id="duration">
					Duración: 1 hour 45 minutes
				</label><br><br>
				<h3>Sinopsis</h3>
				<p><br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim doloribus ipsam saepe, fugiat odio, a numquam voluptate ex dolorem accusamus ut eum quam iure nihil sint qui reprehenderit, temporibus! Consectetur, ut iste nesciunt dolore animi excepturi maiores earum repudiandae facere!
				</p>
			</div>
			<div class="clearfix"></div>
			<div class="horarios-box">
				<h4>Horarios Cinema XXII Platino</h4>
				<hr>
				<ul id="horarios-list">
					<li>15:00 | ESP | 2D</li>
					<li>16:00 | ESP | 3D</li>
					<li>17:00 | ING | 2D</li>
					<li>18:00 | ING | 3D</li>
					<li>19:00 | ESP | 3D</li>
					<li>20:00 | ESP | 2D</li>
				</ul>
			</div>
			<p class="text-right">
				<a href="javascript:void(0)" class="btn btn-buy">
					Comprar Boletos
				</a>
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
{% endblock %}

{% block js %}{% endblock %}
