{% extends 'templates.landing' %}

{% block css %}
<link rel="stylesheet" href="/libs/Highcharts-5.0.12/code/css/highcharts.css">
<style media="screen">
  #container{
    margin-top: 7rem;
    margin-bottom: 2rem;
  }
</style>
{% endblock %}

{% block htmlconf %}
<div class="single-content">
	<div class="top-header span_top navbar-fixed-top">
{% endblock %}

{% block headerinfo %}
  <div class="container"><br><br>
    <div class="row">
      <div class="col-md-12">
        <h3><b>Venta general de boletos por pelicula</b></h3>
        <div id="container"></div>
      </div>
    </div><br><br>
  </div>
{% endblock %}

{% block js %}
<script src="/libs/Highcharts-5.0.12/code/js/highcharts.js" charset="utf-8"></script>
<script src="/websocket-client.js" charset="utf-8"></script>
<script src="/scripts/js/stadistics/app.js" charset="utf-8"></script>
{% endblock %}
