body{
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
section.bus{
    background: #243835;
    padding: .2rem;
    box-sizing: border-box;
    width: 100%;
    height: 16.5rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    padding-left: 5rem;
    border-right: solid 5rem;
    margin-bottom: 1rem;
}
.site{
    color: #fff;
    background: #5f9ea0;
    width: 5rem;
    height: 6rem;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2.5rem;
    margin: 1rem;
    float: left;
    cursor: pointer;
}
.site-pre-assigned-sess{
    color: #fff;
    width: 5rem;
    height: 6rem;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2.5rem;
    margin: 1rem;
    float: left;
    cursor: pointer;
    background: #43e33b;
}
.site-pre-assigned{
    background: rgb(224, 13, 81);
    color: #fff;
    width: 5rem;
    height: 6rem;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2.5rem;
    margin: 1rem;
    float: left;
}
.assigned{
    color: #8e8e8e;
    background: #2e423f;
    width: 5rem;
    height: 6rem;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2.5rem;
    margin: 1rem;
    float: left;
}
input{
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem;
    margin-top: .3rem;
}
#reservar{
    background: #12568a;
    color: #fff;
    border: none;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.3rem;
}
